.logo_bgr{
    svg {
    
            height: 70vh;
            width: 70vw;
            position: fixed;
            top: 12%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            filter: opacity(9%);
            
            
    
            path {
                fill: color_change(lighten, color_brand, 25%);
               
            }
        }
}

// -------------hero section ---------

.hero{
    

    h2{
        grid-column: 6/10;
        grid-row: 1/2;
        font-weight: 300;
        font-size: 22px;
        letter-spacing: 1.25px;
        color: color_change(lighten,color_accent_dark,15%);
        align-self: flex-end;
    }

    h1{
        grid-column: 6/10;
        grid-row: 2/4;
        font-size: 64px;
        line-height: 72px;
        color: pf(color_light_accent1);
        align-self: flex-start;
        padding-top: rem(15);
    }
}

.hero_text_section{
    grid-column: 6/10;
    grid-row: 4/7;
    background-color: pf(color_light_accent3);
    padding: rem(25) rem(39);
    font-size: 15px;
    height: 100%;
    font-weight: 500;
    filter: drop-shadow(1px 1px 1px pf(color_light_accent1));
}



.btn_main{
    grid-column:4/6;
    grid-row: 8/9;
    background-color: pf(color_light_accent1) ;
    transition: transform 0.5s;
    color: pf(color_brand);
        font-weight: 600;
}

.btn_second{
    grid-column: 7/8;
    grid-row:8/9;
    border: 1.5px solid color_change(darken, color_light_accent3, 12%);
    color: color_change(darken, color_light_accent3, 12%);
        font-weight: 600;
}

.btn{
    display: inline-block;
    align-self: center;
    justify-self: center;
    padding: rem(15) 0;
    width: rem(230);
    text-align: center;


    &:hover,
    &:active{
        transform: translateY(2.5px);

    }
}

// ------ about me ------ 
.aboutme{

    img{
        grid-column: 1/5;
        grid-row: 2/8;
        width: 95%;
        height: auto;
        display: inline-block;
        align-self: center;
        justify-self: center;
        
    }
}

.aboutme_description{
    grid-column: 6/9;
    grid-row: 2/7;

    h5{
        font-size: 22px;
        color: pf(color_brand);
    }

    
}

.aboutme_btn {
    position:relative;
    grid-row: 6/7;
    grid-column: 6/8;
    align-self:flex-start;
    justify-self: flex-start;
    width: 100%;
    border: none;
    color: pf(color_light_accent1);

    &::before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3
    }
}

// ----------- services ----- 

.services{
    
            width: 100%;
            height: 115vh;
            clip-path: polygon(0 15vh , 100% 0 , 100% 105vh , 0 100%);
            
}
.wraper{
    display: grid;
    grid-column: 2/9;
    grid-row: 2/9;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35vh 35vh;
    gap: rem(32);
    
}

.image_container {
    height:100%;
    width: auto;
    position: relative;

    img{
        display: inline-block;
        height: 100%;
        width: 100%;
        
    }

}
.overlay{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0.53), rgba(6, 65, 159, 0.77) 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 25;
}

.overlay_text{
    color:pf(color_light);
    text-align: center;
    font-weight: 600;
}