.logo_bgr{
    svg {
    
            height: 70vh;
            width: 70vw;
            position: fixed;
            top: 12%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            filter: opacity(9%);
            
            
    
            path {
                fill: color_change(lighten, color_brand, 25%);
            }
        }
}

// -------------hero section ---------

.hero{
    
    &::after{
        transform: translateY(-1%);
    }

    h2{
        grid-column: 6/10;
        grid-row: 1/2;
        font-weight: 300;
        font-size: 22px;
        letter-spacing: 1.25px;
        color: color_change(lighten,color_accent_dark,15%);
        align-self: flex-end;
    }

    h1{
        grid-column: 6/10;
        grid-row: 2/4;
        font-size: 64px;
        line-height: 72px;
        color: pf(color_light_accent1);
        align-self: flex-start;
        padding-top: rem(15);
    }
}

.hero_text_section{
    grid-column: 6/10;
    grid-row: 4/7;
    background-color: color_change(lighten, color_brand, 28%);
    padding: rem(25) rem(39);
    font-size: 15px;
    height: 100%;
    font-weight: 500;
    filter: drop-shadow(1px 1px 1px pf(color_light_accent1));
}



.btn_main{
    grid-column:4/6;
    grid-row: 8/9;
    background-color: pf(color_light_accent1) ;
    transition: transform 0.5s;
    color: pf(color_brand);
        font-weight: 600;
}

.btn_second{
    grid-column: 7/8;
    grid-row:8/9;
    border: 1.5px solid color_change(darken, color_light_accent3, 12%);
    color: color_change(darken, color_light_accent3, 12%);
        font-weight: 600;
}

.btn{
    display: inline-block;
    align-self: center;
    justify-self: center;
    padding: rem(15) 0;
    width: rem(230);
    text-align: center;


    &:hover,
    &:active{
        transform: translateY(2.5px);

    }
}

// ------ about me ------ 
.aboutme{

    img{
        grid-column: 2/5;
        grid-row: 2/8;
        width: 95%;
        height: auto;
        display: inline-block;
        align-self: center;
        justify-self: center;
        
    }
}

.aboutme_description{
    grid-column: 6/9;
    grid-row: 2/7;

    h5{
        font-size: 22px;
        color: pf(color_brand);
    }

    
}

.aboutme_btn {
    position:relative;
    grid-row: 6/7;
    grid-column: 6/8;
    align-self:flex-start;
    justify-self: flex-start;
    width: 100%;
    border: none;
    color: pf(color_light_accent1);

    &::before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3
    }
}

// ----------- services main page----- 


.services{
    
            width: 100%;
            height: 115vh;
            
            
}
.wraper{
    display: grid;
    grid-column: 2/9;
    grid-row: 2/9;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35vh 35vh;
    gap: rem(32);
    
}

.image_container {
    height:100%;
    width: auto;
    position: relative;

    img{
        display: inline-block;
        height: 100%;
        width: 100%;
        
    }

}
.overlay{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0.53), rgba(6, 65, 159, 0.77) 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 25;
}

.overlay_text{
    color:pf(color_light);
    text-align: center;
    font-weight: 600;
}

// -----services left and right side aligment --------

.left_side{
    grid-column: 2/5;
    grid-row: 3/8;
    height: 100%;
    width: 100%;

    &.picture_size {
            grid-row: 2/8;
        }

    img{
        height: 100%;
    }
}

.right_side{
    grid-column: 6/9;
    grid-row: 2/7;
    height: 100%;
    width: 100%;

    &.picture_size{
        grid-row: 2/8;
    }
    

        img{
            grid-row:2/8;
            height: 100%;
            width: auto;
        }
}

.card_text p{
    height: 80%;
    grid-row: 3/7;
    background-color: color_change(lighten,color_brand,28%);
    font-size: clamp(rem(14), rem(17) ,rem(25));
    line-height: clamp(1.45rem, 1.79rem, 2.05rem);
    padding: rem(40);
    border-radius: rem(40) rem(40) rem(75) 0 ;
    box-shadow: 1.5px 1.5px 4px color_change(darken,color_brand,12%);
    position: relative;


    

    
}
.card_text_right p{
    border-radius: rem(40) rem(40)  0 rem(75) ;
    box-shadow: 1.5px 1.5px 4px color_change(darken, color_brand, 12%);
    position: relative;
    
}
.clean_text span{
    color: color_change(darken,color_light_accent1,2%);
    font-size: clamp(1.25rem, 1.5rem, 2.2rem);
    
}

.btn_right {
    position:relative;
    grid-column: 6/9;
    grid-row: 7/8;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: color_change(darken,color_light_accent1,2%);
    font-weight: 600;
    z-index: 300;
    padding: rem(30) rem(40) rem(5) rem(40);

    
    &:hover{
        color:color_change(darken,color_light_accent1,5%);
    }
    &::before{
        content: "";
            height: 1px;
            width: 0%;
            background-color: color_change(darken, color_light_accent1, 12%);
            display: inline-block;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
    }
    &:hover:before,
    &:focus:before {
        width: 80%;
        animation: slideFromLeft 0.8s ease-in-out;
    

    }
}

@keyframes slideFromLeft{
    from{ width: 0;}
    to{ width: 80%;}
}


.btn_left{
        position: relative;
        grid-column: 2/4;
        grid-row:7/8;
        justify-self: center;
        align-self: center;
        text-decoration: none;
        color: color_change(darken, color_light_accent1, 2%);
        font-weight: 600;
        z-index: 300;



&:hover {
        color: color_change(darken, color_light_accent1, 5%);
    }

    &::before {
        content: "";
        height: 1px;
        width: 0%;
        background-color: color_change(darken, color_light_accent1, 12%);
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &:hover:before,
    &:focus:before {
        width: 80%;
        animation: slideFromLeft 0.8s ease-in-out;


    }
}

//----------- individual seeting of services ----------- 

.capter_name{
    
            color: color_change(darken, color_light_accent1, 2%);
            font-size: clamp(1.25rem, 1.5rem, 1.5rem);
        
}
.esd_audit_text{

    grid-row: 2/7;

    

    p{
        height: 90%;
            grid-row: 2/5;
            background-color: color_change(lighten, color_brand, 28%);
            font-size: clamp(rem(14), rem(17), rem(20));
            padding: rem(40);
    }

    .btn{
        align-self: center;
        justify-self: center;
    }

}

.esd_pausal{
    .left_side{
        height: 80%;
        width: auto;
        aspect-ratio:3/2;
    }
}

.esd_trainings{
    
    .left_side{
        grid-row: 2/7;
        .capter_name{
            grid-row: 2/3;
        }
    }
}
