.grid_basic{
    display: grid;
    grid-template-columns: repeat(10,10vw);
    grid-template-rows: repeat(10,10vh);
    padding: rem(75) rem(50);
    width: 100%;
    height: 100vh;
    background-color:color_change(lighten,color_light_accent3,12%) ;
}

li,a{
    text-decoration: none;
    list-style: none;
    
}