.grid_basic{
    display: grid;
    grid-template-columns: repeat(10,10vw);
    grid-template-rows: repeat(10,10vh);
    padding: rem(75) rem(50);
    width: 100%;
    height: 100vh;
}

li{
    text-decoration: none;
    list-style: none;
}