.navigation{
    margin:0;
    padding: 0 rem(35);
    height: 10%;
    align-items: center;
    justify-content: space-around;
    background: color_change(transparentize,color_brand,0.12);
    position:fixed;
    z-index: 250;
    backdrop-filter: blur(10px);
    min-height: 1%;
    width: 100%;

    &::after{
        display: none;
    }

    a{
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 2.8px;
    }
    
    



}

.navigation_logo_wraper{
        width: 100%;
}

.navigation_logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    


    svg{
        max-width: 10%;
        max-height: 25%;
    
        rect{
            fill:color_change(transparentize,color_brand,0.12);
        }
    }

    h4{
        padding-left: rem(25);
        font-size:28px;
        color:color_change(lighten, color_brand, 60%);
        letter-spacing: rem(7,28);
    }
}

.navigation_buttons{
    width: 100%;
    justify-self: flex-start;
    padding: 0 rem(35);

    
    ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;

        a{
            font-size: 18px;
            color:color_change(lighten,color_brand,60%);

            &.active{
                color:pf(color_light_accent1);
            }

            &:hover{
                color: pf(color_accent_dark);
            }
        }
    }
}

.navigation_language{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
    padding: 0 rem(20);

    a{
        
        width: 50%;

        img{
        width: 45%;
        margin-left: 60%;
        }


    }
}