.navigation{
    margin:0;
    padding: 0 rem(50);
    grid-template-rows: 1fr;
    height: rem(65);
    align-items: center;
    justify-content: space-around;
    background: color_change(transparentize,color_brand,0.12);
    position:fixed;
    z-index: 250;
    backdrop-filter: blur(10px);

    &::after{
        display: none;
    }
    
    



}

.navigation_logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column: 2/5;
    height: inherit;

    svg{
        width: 20%;
        height: 80%;
    
        rect{
            fill:color_change(transparentize,color_brand,0.12);
        }
    }

    h4{
        padding-left: rem(25);
        font-size:28px;
        color: pf('color_light');
        letter-spacing: rem(7,28);
    }
}

.navigation_buttons{
    grid-column: 6/9;
    
    ul{
        display: flex;
        justify-content: space-around;

        li,a{
            font-size: 15px;
            font-weight: 700;
            color:color_change(darken,color_light,25%);

            &.active{
                color:pf(color_light_accent1);
            }

            &:hover{
                color: pf(color_light_accent2);
            }
        }
    }
}

.navigation_language{
    grid-column: 9/10;
    ul{
        display: flex;
        justify-content: space-evenly;

    }
}