@media only screen and (max-width:1342px){

    .hero {
        
        h1{
            font-size: 52px;
        }

        h2{
            font-size:20px;
        }
    }

    .hero_text_section{
        font-size: rem(13);
        letter-spacing: 1.75px;
    }
    
    .btn{
        font-size: rem(14);
    }
    .hero_img_section{

        img{
            height: 92%;
            width: 92%;
        }
    }

    

    .btn_left{
        margin-top: rem(15);
    }

    .card_text p {
        font-size: rem(14)
    }

    .card_text_right p{
        font-size: rem(14)
    }

    //---about me ---
    .aboutme{

        img{
            grid-row: 2/7;
            height: 100%;
            
        }
    }


    .right_side{
    grid-row: 2/9;
    height: max-content;
    height: 100%;

        &.picture_size{
            height: 100%;
            grid-row: 2/9;
        }
    }

    
    .left_side{
        grid-row: 2/9;
        height: max-content;

        & img{
            height: 100%;
            padding: rem(45) rem(15);
        }
    }
    .picture_clean img{
        height: 100%;
        padding: rem(15) rem(0);
    }

    

//ESD audit ----- 
    .audit_btn{
        grid-row: 8/9;
    }

    .contact_form{
        height: 100%;
        grid-row: 1/8;
        grid-column: 1/6;
        


        
    }

    .contact_form_right{
        grid-row: 1/8;
        grid-column: 5/9;
        margin-left: rem(35);
        
        
    }
        .picture_training img {
            height: 80%;
        }
    .picture_clean{
        img{
            height: 80%;

        }
    }

        .picture_floor_rest{
            img{
                padding: rem(45) rem(15);
                height:85%;
            }
        }
        
}

@media  only screen and (max-width:1124px){

    
    .contact_form {
            height: 100%;
            grid-row: 1/9;
        }
    
        .contact_form_right {
            width: 80%;
            justify-self: flex-end;
        }

    .basic_data ul{
        height: 80%;
        font-size: rem(14);
    }

    .contact_capter_name2{
        font-size: rem(18);

    }
        
    .picture_esd_audit img{
        padding: rem(65) rem(25)
    }
    
    .picture_training {
        
        img{
        padding: rem(45) rem(15);
        margin-top: rem(35);

        
    }
    }
}

@media screen and (max-width: 980px){
    form{
        display: flex;
        flex-direction: column;
        padding-top: 0;
        font-size: 14px;
    }

    #send{
        align-self: center;
    }
    
    .hero h1{
        line-height: 1;
    }

    .picture_clean img{
        height: 100%;
        padding: rem(65) 0;
    }

    .picture_esd_audit{
        width: 80%;
        justify-self: flex-end;

        img{
            height: 80%
        }
    }

    .esd_audit_text{
        width: 135%;
    }

}

@media (max-width:945px){


    .grid_basic{
        grid-template-rows: repeat(10,7.5vh);
    }

    .esd_trainings{
        grid-template-rows: repeat(10, 8vh);
    }
    .contact{
        grid-template-rows: repeat(10, 10vh);;
    }
    .partners{
        grid-template-rows: repeat(3,10vh);
    }

    .navigation{
        height: 10vh;;
    }
    .picture_floor_rest {
        
            img {
                width: 75%;
                
                align-self: flex-end;
                
            }
        }
     .floor_treat_text{
        width: 115%;
     }


}

@media (max-width:850px){
    .navigation_language a{
        width: 35%;

    }

    .navigation_buttons{
        position:absolute;
        top:rem(66);
        left: rem(500);
        height: 98vh;
        width: 30vw;
        display: flex;
        align-items: flex-end;
        background-color: color_change(transparentize,color_brand,0.3);

        &.actived{
            top: rem(66);
            left: rem(147);
        }
        
        ul{
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
    }

    .card_text{
        grid-column: 2/10;
        grid-row: 2/5;
        p {
                border-radius: rem(40) rem(40) rem(45) 0;
            }
    }

    .esd_audit_text,
    .floor_treat_text{
        width: 100%;
    }
    .left_side.picture_size,
    .right_side.picture_size{
        
        grid-column: 2/6;
        grid-row: 6/11;
        height: 100%;

        

        img{
            height: 100%;
            width: 100%;
            padding: 0;
            margin-top: rem(45);
        }
    }

    .left_side.picture_size{
        grid-column: 6/10;
    }


    .navigation_language{
        grid-column: 6/8;
        grid-row: 1/2;
    }
    .hero{
        h1{
            font-size: rem(39);
        }

    }

    .btn_left,
    .btn_right{
        margin-top: rem(75);
        text-align: center;
    }
        
}


@media (max-width:850px) {
    .hero_text_section{
        height: max-content;
        grid-row: 3/7;
        margin-top: 6%;
    }

    .picture_flor_audit 
    img{
        padding: rem(45) rem(15);
    }

}

@media (max-width:736px){
    .hero h1{
        font-size: rem(36);
        line-height: 1.25;
    }
    .hero_text_section{
        margin-top: 12%;
        font-size: rem(13);
        line-height: 1.55;
    }

    .aboutme img{
        grid-row: 2/8;
        padding: rem(45) rem(12);
        
    }

    .aboutme_btn{
        grid-row: 8/9;
        grid-column: 5/7;
    }
    .services{
        height: 100vh;
    }
    .wraper{
        gap: 1.3rem;
        grid-template-rows: 30vh 30vh;
    }
    .image_container{
        height: 85%;
    }

    .overlay_text{
        color: white;
        font-size: rem(14);
    }
}