
@media only screen and (max-width:em(1505)){
    .hero .img_wraper {
            height: 82%;
    
    
            img {
                width: 100%;
                margin-left: em(50);
                
            }
        }
}
@media only screen and (max-width:em(1493)) {
    .img_wraper {
        display: flex;
        align-items: flex-end;
        width: 45%;
        justify-content: flex-end;
        height: 82%;
    }
}

@media only screen and (max-width:em(1342)){

    .hero {
        
        h1{
            font-size: 52px;
        }

        h2{
            font-size:20px;
        }
    }

    .hero_text_section{
        font-size: rem(13);
        letter-spacing: 1.75px;
    }
    
    .btn{
        font-size: rem(14);
    }
    

    

    .btn_left{
        margin-top: rem(15);
    }

    .card_text p {
        font-size: rem(14)
    }

    .card_text_right p{
        font-size: rem(14)
    }

    //---about me ---
    .aboutme{

        img{
            height: 100%;
            
        }
    }


    .right_side{
    
    height: max-content;
    height: 100%;

        &.picture_size{
            height: 100%;

            &.moved {
                    transform: translateX(95%) translateY(-25%);
                    transition: all 0.55s ease-in-out backwards;
                }

            
        }
    }

    
    .left_side{
        
        height: max-content;

        & img{
            height: 100%;
            padding: rem(45) rem(15);
        }
    }
    .picture_clean img{
        height: 100%;
        padding: rem(15) rem(0);
    }

    

//ESD audit ----- 
    

    .contact_form{
        height: 100%;
        grid-row: 1/8;
        grid-column: 1/6;
        


        
    }

    
        .picture_training img {
            height: 80%;
        }
    .picture_clean{
        img{
            height: 80%;

        }
    }

        .picture_floor_rest{
            img{
                padding: rem(45) rem(15);
                height:85%;
            }
        }
        
}

@media only screen and   (max-width:em(1124)){
    
    
    .contact_form {
            height: 100%;
            grid-row: 1/9;
        }
    
        

    .basic_data ul{
        height: 80%;
        font-size: rem(14);
    }

    .contact_capter_name2{
        font-size: rem(18);

    }
        
    .picture_esd_audit img{
        padding: rem(65) rem(25)
    }
    
    .picture_training {
        
        img{
        padding: rem(45) rem(15);
        margin-top: rem(35);

        
    }
    }
}

@media  only screen and (max-width:em(980)){
    .hero{
        
        height: 100%;

        .align_wraper{
            height: 100%;
        }
    
}
    
    
    form{
        display: flex;
        flex-direction: column;
        padding-top: 0;
        font-size: 14px;
    }



    #send{
        align-self: center;
    }
    
    .hero h1{
        line-height: 1;
    }

    .picture_clean img{
        height: 100%;
        padding: rem(65) 0;
    }

    .picture_esd_audit{
        width: 80%;
        justify-self: flex-end;

        img{
            height: 80%
        }
    }

    .esd_audit_text{
        width: 90%;
    }
    .aboutme img{
        
        padding: rem(25);
    }

    #send{
        width: 50%;
        height: 15%;
    }


}

@media only screen and  (max-width:em(945)){


    .navigation{
        height: 10%;
        grid-template-rows: 1fr;
    }
    .picture_floor_rest {
        
            img {
                width: 75%;
                
                align-self: flex-end;
                
            }
        }
     .floor_treat_text{
        width: 60%;
     }

     

     .hero{

        h1{
            font-size: rem(45);
        }
    }

    
    .hero_img_section{
        height: 100%;

        img{
            height: 110%;
        }
    }
    
    
}



@media only screen and (max-width:em(850)){

    

    .hero::after{
        clip-path: polygon(0% 0%, 100% 0%, 100% 92.5%, 0% 100%);
    }
    .right_side {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: rem(25) rem(0) rem(25) rem(25);

            &.picture_size {
                    width: 50%;
                    height: 88%;
                    padding: rem(25);

                    &.moved {
                            transform: translateX(95%) translateY(-25%);
                            transition: all 0.55s ease-in-out backwards;
                        }
                }
    }
        .left_side {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: rem(35) rem(35) rem(35) 0;

            &.picture_size {
                    width: 50%;
                    height: 88%;
                    padding: rem(25);
                    &.moved {
                            transform: translateX(95%) translateY(-25%);
                            transition: all 0.55s ease-in-out backwards;
                        }
                }
        }

    .navigation_language{
        grid-column: 7/9;
        grid-row: 1/2;

        a{
        width: 90%;

        }

    }
    .navigation_logo_wraper{
        grid-column: 2/7;
    }

    .aboutme_content_wraper{
        .img_wraper{
        width: 80%;
        margin-right: em(25);
        }
    }

    .navigation_buttons_burger{
        grid-column: 10/11;
        grid-row: 1/2;
        background: none;
            border: none;
            cursor: pointer;
            
            position: relative;
            display: block;
            
            height: 25px;
            width: 30px;
            


        span{
                top: 50%;
                height: em(3);
                width: 100%;
                background: pf(color_light_accent1);
                margin: auto;
                position: absolute;
                transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out;
                
            }
            .burger1{
                transform: translateY(em(-10));
            }
            .burger3{
                transform: translateY(em(10));
            }
            

        &.active{
            .burger1 {
                transform: rotateZ(-45deg);
                }
            
                .burger2 {
                transform: rotateZ(45deg);
                }
                .burger3{
                    opacity: 0;
                }
        }
                
    }

    .navigation_buttons{
        position:absolute;
        top: 0;
        left: 100vw;
        height: 98vh;
        width: 50vw;
        display: flex;
        align-items: flex-end;
        background-color: color_change(transparentize,color_brand,0.3);
        transition: left 0.45s ease-in-out;

        &.actived{
            top: 0;
            left: 1px;
        }        
        ul{
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
    }

    .card_text{
        
        p {
                border-radius: rem(40) rem(40) rem(45) 0;
            }
    }

    .esd_audit_text,
    .floor_treat_text{
        width: 100%;
    }
    .left_side.picture_size,
    .right_side.picture_size{
        &.moved {
                transform: translateX(95%) translateY(-25%);
                transition: all 0.55s ease-in-out backwards;
            }
        

        &.picture_training {
            img {
                height: 50%;
            }
        }

        &.picture_floor_rest{
            img{
                height: 70%;

            }
        }
    }

    

    .picture_esd_audit{
        justify-self: flex-start;
    }
    .hero{
        h1{
            font-size: rem(39);
        }

    }

    .btn_left,
    .btn_right{
        margin-top: rem(75);
        text-align: center;
    }

        .picture_floor_rest {
            width: 50%;
    
            img {
                width: 100%;
            }
        }

        
}

@media only screen and (max-width:em(820)) {
    .hero_text_section{
        
        height: 100%;
    }
        .hero_img_section {
            
            height: 92%;
    }
    .image_container{
        height: 80%;
    }
}

@media only screen and (max-width:em(774)){
    .contact_form_right{
        width: 40%;
    }
        .contact_form_left {
            width: 60%;
        }
    
}

@media only screen and (max-width:em(690)){



    .hero{
        h2,h1{
            grid-column: 2/10;
            
        }
        .align_wraper{
            width: 100%;
            flex-wrap: wrap;
        }
        
        .text_wraper{
            width: 100%;
            height: max-content;
        }
        .img_wraper{
            width: 80%;
            height: 40%;
        }
    }
    .hero_img_section {
           
            height: 94%;
            align-self: center;
            justify-self: center;
            margin-top: rem(12);
            transform: translateX(em(-35));

            img{
                height: 100%;
            }
    }

        .hero_text_section {
            
            height: 90%;
            align-self: center;
            margin-top: rem(12);
        }

    .content_wraper{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .btn_main{
        
        grid-column: 3/5;
        justify-self: center;
    }
        .btn_second {
            
            grid-column: 6/8;
            justify-self: center;
        }
    .services{
        height: 100%;
    }
    .wraper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 100%;
        gap: 1em;
        grid-row: 1/2;
    }

        .image_container {
            height: 70%;


        }

                .right_side.picture_size,
                .left_side.picture_size {
                    width: 80%;
                    height: 100%;
                    padding: 0;
                    margin: 0;

                    &.picture_training {
                        width: 80%;
                        
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }

                    
                }
    .left_side,.right_side{
        width: 80%;
        padding: 0;

        a,span{
                align-self: center;
            }
    }
    .grid_basic{
        height: 100%;
        grid-template-rows: 100%;
        align-items: center;
        justify-content: center;
    }

    .navigation{
        height: 10%;
    }
    .spec_service_content_wraper{
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        &.oposite{
            flex-direction: column-reverse;
        }
    }

    

    
}

@media only screen and (max-width:em(690)){
    .partners{
        padding: em(135);
    }

    .contact_wraper_general{
        grid-column: 2/10;
    }

    .basic_data ul{
        padding: 0;
        align-items: center;
        .phone_number::after,
        .adress::after,
        .social::after{
            top: -125%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .social_media{
        flex-direction: column;
        align-items: center;

        a{
            padding-top: em(25);
        }
    }
}

@media only screen and (max-width:em(672)){
    .navigation_logo{ 
        h4{
            font-size: em(22);
        }
        
        svg{
        width: 10%;
        height: 25%;
    }
}
}

@media only screen and (max-width:em(610)){
    .image_container{
        height: 100%;
    }
    .overlay{
        height: 30%;
    }

    
}

@media only screen and (max-width:em(560)) {
    .navigation_logo {
        width: 100%;
        h4 {
            font-size: em(22);
        }

        svg {
            width: 20%;
            height: 25%;
        }
    }
}
@media only screen and (max-width:em(566)) {
    .navigation{
        border-bottom: em(2) solid pf(color_light_accent3);

        .added{
            content: "L";
            display: block;
            height: 15%;
            width:  15%;
            background-color: pf(color_third_bgr);
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: 250;
            clip-path: polygon(100% 0%, 49.1% 100%, 0% 0%, 48.8% 41.3%);
            cursor: pointer;

            
        }
    }

    .navigation_language {
        display: none;
        transition: top 0.85s linear;
        

        &.active{
            position:absolute;
            display: flex;
            width: 100vw;
            height: 32%;
            top: 102%;
            right:-101%;
            background: color_change(transparentize, color_brand, 0.12);
            
            a{
                width: 50%;
                height: 100%;
                

                img{
                    height: auto;
                    width:10%;
                    margin-left: 50%;
                }
            }
        }
    }
    .navigation_buttons_burger{
        grid-column: 9/11;
        align-self: center;
    }

    .navigation_logo_wraper{
        grid-column: 2/9;
    }

        


}
    @media only screen and (max-width:em(500)){
        .hero {
        
                img {
                    height: 65%;
                }
            }
                .services::after {
                    clip-path: polygon(0% 11%, 100% 0%, 100% 92.5%, 0% 100%);
        
                }

                #technical_clean::after{
                    clip-path: polygon(0% 7%, 100% 2%, 100% 92.5%, 0% 100%);
                }
                #esd_audit::after{
                    clip-path: polygon(0% 8%, 100% 0%, 100% 93.5%, 0% 100%);
                }
                #esd_training::after{
                    clip-path: polygon(0% 12%, 100% 1%, 100% 93.5%, 0% 100%);
                }
                #floor_rest::after{
                    clip-path: polygon(0% 7%, 100% 0%, 100% 93.5%, 0% 100%);
                }
    .contact_wraper_general{
        flex-direction: column-reverse;
    }
    .contact_form_right{
        width: 100%;
        height: 100%;
    }
    .contact_form_left{
        width: 100%;
        height: 100%;
    }
        .social_media {
            flex-direction: row;
            align-items: center;
        }
        .basic_data ul {
            padding: 0;
            align-items: center;
            justify-content: space-evenly;
            justify-items: center;
            height: 100%;

            li{
                padding-top: em(25);
            }
    
            .phone_number::after,
            .adress::after,
            .social::after {
                top: -4%;
                
            }
        }
        .descr{
            align-self: center;
        }

        .contact{
            padding: em(12)
        }

        .contact_wraper_general{
            grid-column: 2/10;
        }
}
@media only screen and (max-width:em(440)){

    
    .right_side,
    .left_side{
        width: 100%;

        &.picture_size{
            width: 100%;
        }
    }

        .hero{
            .hero_buttons_wraper{
                flex-direction: column;
                justify-content: space-between;

                a{
                    padding: 0.937rem 0;
                    width: 50%;
                    margin-top: em(35);
                }
            }
        }

        .aboutme_content_wraper{
            .img_wraper{
                width: 100%;
            }
            .aboutme_description{
                width: 100%;
            }
        }
}
@media only screen and (max-width:em(380)){


    .navigation_logo{
        
        svg{
            width: 15%;
        }
    }
        .navigation_language {
            
    
    
            &.active {
                
    
                a {
    
    
                    img {
                        width: 15%;
                        
                    }
                }
            }
        }

                .overlay {
                    height: 45%;
                }
                .overlay_text{
                    font-size: em(12);
                }
}

