/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
  letter-spacing: 1.15px;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  html {
    scroll-behavior: initial;
  }
}

.theme {
  --pf-color_brand: #06419F;
  --pf-color_accent_dark: #0720ac;
  --pf-color_light: #b9bac2;
  --pf-color_light_accent1: #c89635;
  --pf-color_light_accent2: #e92223;
  --pf-color_light_accent3: #949BDB;
  --pf-color_second_bgr: #C4C6D1;
  --pf-color_third_bgr: #d0e1fd;
  --pf-color_trial: #b6831c;
  --pf-shadow_color: #042862;
}

body {
  background-color: #c1c1;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: 'Bebas Neue', cursive;
}

p, a, li, ul {
  font-family: 'Oswald', sans-serif;
}

img {
  width: 91%;
}

.grid_basic {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (10vw)[10];
      grid-template-columns: repeat(10, 10vw);
  -ms-grid-rows: 80vh;
      grid-template-rows: 80vh;
  padding: 8.4375rem 0;
  min-width: 100%;
  height: 100%;
  position: relative;
}

.grid_basic::after {
  content: "";
  background-color: #b6bbe7;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  -webkit-clip-path: polygon(0% 8%, 100% 0%, 100% 92.5%, 0% 100%);
          clip-path: polygon(0% 8%, 100% 0%, 100% 92.5%, 0% 100%);
}

.grid_basic.white::after {
  content: "";
  background-color: #d9dbf2;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0% 8%, 100% 0%, 100% 92.5%, 0% 100%);
          clip-path: polygon(0% 8%, 100% 0%, 100% 92.5%, 0% 100%);
  scale: 1.1;
}

.hero {
  height: 100vh;
}

li, a {
  text-decoration: none;
  list-style: none;
}

.navigation_buttons_burger {
  display: none;
}

.navigation {
  margin: 0;
  padding: 0;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  height: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(6, 65, 159, 0.88);
  position: fixed;
  z-index: 250;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  min-height: 1%;
}

.navigation::after {
  display: none;
}

.navigation a {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2.8px;
}

.navigation_logo_wraper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  width: 100%;
}

.navigation_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.navigation_logo svg {
  max-width: 10%;
  max-height: 25%;
}

.navigation_logo svg rect {
  fill: rgba(6, 65, 159, 0.88);
}

.navigation_logo h4 {
  padding-left: 1.5625rem;
  font-size: 28px;
  color: #d9e7fe;
  letter-spacing: 0.25rem;
}

.navigation_buttons {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6/9;
  width: 100%;
  justify-self: flex-start;
}

.navigation_buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
}

.navigation_buttons ul a {
  font-size: 18px;
  color: #d9e7fe;
}

.navigation_buttons ul a.active {
  color: var(--pf-color_light_accent1);
}

.navigation_buttons ul a:hover {
  color: var(--pf-color_accent_dark);
}

.navigation_language {
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-column: 9/10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navigation_language a {
  width: 50%;
}

.navigation_language a img {
  width: 45%;
  margin-left: 60%;
}

.big_logo {
  position: absolute;
  z-index: 250;
  background-color: var(--pf-color_brand);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: logoAnime 4s forwards ease-in-out;
          animation: logoAnime 4s forwards ease-in-out;
}

.big_logo svg {
  width: 100%;
  height: 70%;
}

.big_logo span {
  color: #fff;
  font-size: 2.875em;
  -webkit-animation: anim1 0.95s backwards ease-in-out;
          animation: anim1 0.95s backwards ease-in-out;
}

@-webkit-keyframes logoAnime {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes logoAnime {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

.logo_bgr svg {
  height: 70vh;
  width: 70vw;
  position: fixed;
  top: 12%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 0;
  -webkit-filter: opacity(5%);
          filter: opacity(5%);
}

.logo_bgr svg path {
  fill: #2d7bf7;
}

.hero {
  font-size: 100%;
}

.hero::after {
  -webkit-transform: translateY(-1%);
          transform: translateY(-1%);
}

.hero .content_wraper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.hero .align_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero .text_wraper {
  width: 50%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: flex-start;
}

.hero .img_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 45%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 82%;
}

.hero .hero_buttons_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.hero h2 {
  width: 100%;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1.25px;
  color: #0a2ef5;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.hero h1 {
  width: 100%;
  font-size: 3.25rem;
  line-height: 62px;
  color: var(--pf-color_light_accent1);
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 0.9375rem;
}

.hero_img_section {
  height: 95%;
}

.hero_img_section img {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: -10px 10px 5px rgba(6, 65, 159, 0.9);
          box-shadow: -10px 10px 5px rgba(6, 65, 159, 0.9);
  -webkit-transform: perspective(12rem) rotateY(4deg);
          transform: perspective(12rem) rotateY(4deg);
  -webkit-filter: grayscale(75%);
          filter: grayscale(75%);
}

.hero_text_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3c84f8;
  padding: 1.5625rem 1.5625rem;
  font-size: 15px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-weight: 500;
  -webkit-filter: drop-shadow(0px 1rem 2rem rgba(4, 40, 98, 0.25));
          filter: drop-shadow(0px 1rem 2rem rgba(4, 40, 98, 0.25));
}

.btn_main {
  background-color: var(--pf-color_light_accent1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  color: var(--pf-color_brand);
  font-weight: 600;
}

.btn_main:hover, .btn_main:active {
  color: #042964;
  border: 1.5px solid #404dbf;
  background-color: #c49334;
}

.btn_second {
  border: 1.5px solid #6670cc;
  color: #6670cc;
  font-weight: 600;
}

.btn_second:hover, .btn_second:active {
  color: #404dbf;
  border: 1.5px solid #404dbf;
}

.btn {
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 0.9375rem 3rem;
  text-align: center;
  -webkit-transition: all 0.055s ease-in;
  transition: all 0.055s ease-in;
}

.btn:hover, .btn:active {
  -webkit-transform: translateY(0.09375rem);
          transform: translateY(0.09375rem);
  -webkit-box-shadow: 0.125rem 0.125rem 0.3125rem var(--pf-shadow_color);
          box-shadow: 0.125rem 0.125rem 0.3125rem var(--pf-shadow_color);
}

.aboutme img {
  height: 97%;
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start;
}

.aboutme_content_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutme_content_wraper .img_wraper {
  width: 45%;
  padding-right: 1.5625em;
}

.aboutme_content_wraper .img_wraper img {
  height: 80%;
}

.aboutme_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
}

.aboutme_description h5 {
  font-size: 22px;
  color: var(--pf-color_brand);
}

.aboutme_btn {
  position: relative;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  color: var(--pf-color_light_accent1);
}

.aboutme_btn::before {
  content: "";
  height: 1px;
  width: 0%;
  background-color: #987228;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.aboutme_btn:hover:before, .aboutme_btn:focus:before {
  width: 100%;
  -webkit-animation: slideFromLeft 0.45s linear;
          animation: slideFromLeft 0.45s linear;
}

.services {
  width: 100%;
  height: 115vh;
}

.wraper {
  display: -ms-grid;
  display: grid;
  width: 98%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 35vh 35vh;
      grid-template-rows: 35vh 35vh;
  gap: 2rem;
}

.image_container {
  height: 100%;
  width: auto;
  position: relative;
  z-index: 4;
  -webkit-transition: all 0.45s ease-in;
  transition: all 0.45s ease-in;
}

.image_container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.image_container:not(:hover) {
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}

.image_container img {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.image_container a {
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.53)), color-stop(80%, rgba(6, 65, 159, 0.77)));
  background: linear-gradient(to bottom, rgba(17, 17, 17, 0.53), rgba(6, 65, 159, 0.77) 80%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.overlay_text {
  color: var(--pf-color_light);
  text-align: center;
  font-weight: 600;
}

.spec_service_content_wraper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.spec_service_content_wraper.oposite {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.left_side {
  height: 80%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2.8125rem 2.8125rem 2.8125rem 0;
}

.left_side.moved {
  -webkit-transform: translateX(-95%) translateY(-25%);
          transform: translateX(-95%) translateY(-25%);
  -webkit-transition: all 0.55s ease-in-out backwards;
  transition: all 0.55s ease-in-out backwards;
}

.left_side a {
  justify-self: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-right: 0;
}

.left_side.picture_size {
  width: 50%;
  height: 80%;
  padding: 1.5625rem;
}

.left_side img {
  height: 100%;
}

.right_side {
  height: 80%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2.8125rem 0rem 2.8125rem 2.8125rem;
}

.right_side.moved {
  -webkit-transform: translateX(95%) translateY(-25%);
          transform: translateX(95%) translateY(-25%);
  -webkit-transition: all 0.55s ease-in-out backwards;
  transition: all 0.55s ease-in-out backwards;
}

.right_side a {
  justify-self: flex-end;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.right_side.picture_size {
  width: 50%;
  padding: 1.5625rem;
}

.right_side img {
  height: 100%;
  width: auto;
}

.card_text p {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #3c84f8;
  font-size: clamp(0.875rem, 0.9375rem, 1.5625rem);
  line-height: clamp(1.45rem, 1.79rem, 2.05rem);
  padding: 2.5rem;
  border-radius: 2.5rem 2.5rem 0 4.6875rem;
  -webkit-box-shadow: 0px 1rem 2rem rgba(4, 40, 98, 0.25);
          box-shadow: 0px 1rem 2rem rgba(4, 40, 98, 0.25);
  position: relative;
}

.card_text_right p {
  border-radius: 2.5rem 2.5rem 4.6875rem 0;
  -webkit-box-shadow: 0px 1rem 2rem rgba(4, 40, 98, 0.25);
          box-shadow: 0px 1rem 2rem rgba(4, 40, 98, 0.25);
  position: relative;
}

.clean_text span {
  color: #c09033;
  font-size: clamp(1.25rem, 1.5rem, 2.2rem);
}

.btn_right {
  position: relative;
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-decoration: none;
  color: #c09033;
  font-weight: 600;
  z-index: 300;
  padding: 1.875rem 0 0.3125rem 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.btn_right:hover {
  color: #b48730;
}

.btn_right::before {
  content: "";
  height: 1px;
  width: 0%;
  background-color: #987228;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn_right:hover:before, .btn_right:focus:before {
  width: 100%;
  -webkit-animation: slideFromLeft 0.45s linear;
          animation: slideFromLeft 0.45s linear;
}

@-webkit-keyframes slideFromLeft {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes slideFromLeft {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.btn_left {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  text-decoration: none;
  color: #c09033;
  font-weight: 600;
  z-index: 300;
  padding: 1.875rem 2.5rem 0.3125rem 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.btn_left:hover {
  color: #b48730;
}

.btn_left::before {
  content: "";
  height: 1px;
  width: 0%;
  background-color: #987228;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.btn_left:hover:before, .btn_left:focus:before {
  width: 100%;
  -webkit-animation: slideFromLeft 0.45s ease-in-out;
          animation: slideFromLeft 0.45s ease-in-out;
}

.capter_name {
  color: #c09033;
  font-size: clamp(1.25rem, 1.5rem, 1.5rem);
}

.esd_audit_text .btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.picture_training {
  height: 80%;
}

.partners {
  -ms-grid-rows: (10vh)[3];
      grid-template-rows: repeat(3, 10vh);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  padding-bottom: 1.5625rem;
}

.partners.grid_basic.white:after {
  -webkit-clip-path: polygon(0 23%, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 23%, 100% 0, 100% 80%, 0 100%);
}

.partners h5 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  font-size: clamp(1.7rem, 2rem, 3rem);
  color: var(--pf-color_light_accent1);
}

.partners .partners_wraper {
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company_logo a {
  display: inline-block;
  height: 100%;
}

.company_logo img {
  display: inline-block;
  width: 70%;
  height: 80%;
  position: relative;
  z-index: 4;
}

.company_name {
  font-size: 20px;
  color: var(--pf-color_accent_dark);
}

.contact {
  display: -ms-grid;
  display: grid;
  padding: 4.0625rem 0;
  width: 100%;
}

.contact.grid_basic:after {
  -webkit-clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
  top: -5%;
  height: 105%;
}

.contact_wraper_general {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
  background-color: #d0e1fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  border-radius: 0.75rem;
  width: 100%;
  height: 100%;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  padding: 2rem 0;
  height: 100%;
}

.contact_form {
  height: 100%;
  width: 80%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  padding: 1.5625rem;
}

.contact_form label {
  font-family: 'Oswald', sans-serif;
  color: var(--pf-color_brand);
  margin: 0.9375rem;
}

.contact_form input, .contact_form textarea {
  background-color: #95bcfb;
  margin: 0.125rem 0.9375rem;
  border: none;
  border-radius: 0.3125rem;
  height: 3.75rem;
}

.contact_form textarea {
  display: inline-block;
  min-height: 5rem;
  overflow-y: auto;
  font-size: clamp(0.625rem, 0.75rem, 0.9375rem);
}

.contact_capter_name {
  font-size: clamp(1.25rem, 1.875rem, 2.8125rem);
  margin-left: 0.9375rem;
  color: var(--pf-color_light_accent1);
}

.contact_capter_name2 {
  font-size: clamp(1.25rem, 1.875rem, 2.8125rem);
  color: var(--pf-color_light_accent1);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#name {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

#company {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

#email {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

#phone {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

#message {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6/9;
  height: 80%;
}

.checkbox_wraper {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
  width: 80%;
  height: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#send {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10/11;
  width: 35%;
  margin-top: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 50%;
  border-radius: 0.625rem;
  border: none;
  background-color: #c49334;
  color: var(--pf-color_accent_dark);
}

#send:hover, #send:active {
  background-color: #b48730;
  cursor: pointer;
  -webkit-box-shadow: 0.125rem 0.125rem 0.3125rem var(--pf-shadow_color);
          box-shadow: 0.125rem 0.125rem 0.3125rem var(--pf-shadow_color);
}

.form_result_wraper {
  -ms-grid-row: 11;
  -ms-grid-row-span: 1;
  grid-row: 11/12;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  width: 100%;
  padding-top: 1.5625em;
}

.form_result {
  width: 100%;
  text-align: center;
  font-size: 0.75em;
}

.contact_form_right {
  height: 100%;
  width: 35%;
  background-color: #0859da;
  padding: 1.5625rem;
  border-radius: 0.75rem 0 0 0.75rem;
  justify-self: flex-start;
}

.checkbox {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
  grid-row: 9/10;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.checkbox a {
  text-decoration: underline;
}

.checkbox a:hover, .checkbox a:active {
  color: var(--pf-color_accent_dark);
}

.right_side_wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.other_contact_wraper {
  height: 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  letter-spacing: 2px;
}

.other_contact_descr {
  justify-self: flex-end;
  width: 30%;
  color: var(--pf-color_brand);
}

.social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social_media a svg {
  height: 28px;
  fill: var(--pf-color_brand);
}

.descr {
  color: #d6af64;
  padding-top: 1.5625rem;
}

.basic_data {
  height: 100%;
}

.basic_data ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50%;
  padding-left: 3.5rem;
}

.basic_data ul .phone_number::after {
  content: url(../img/material-symbols_phone-in-talk-outline.svg);
  position: absolute;
  left: -2.625rem;
}

.basic_data ul .adress::after {
  content: url(../img/ic_baseline-place.svg);
  position: absolute;
  left: -2.625rem;
}

.basic_data ul .social::after {
  content: url(../img/material-symbols_screen-search-desktop-outline.svg);
  position: absolute;
  left: -2.625rem;
}

.basic_data ul .descr,
.basic_data ul .phone_number,
.basic_data ul .adress,
.basic_data ul .social {
  position: relative;
}

@-webkit-keyframes anim1 {
  from {
    -webkit-transform: translateY(55%);
            transform: translateY(55%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  from {
    -webkit-transform: translateY(55%);
            transform: translateY(55%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.footer {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fdfdfd;
  background-color: #484953;
  width: 100%;
}

.sub_footer {
  padding: 1.5625rem;
}

.sub_footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.8125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sub_footer li {
  padding-left: 0.9375rem;
}

.footer_author ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  color: #fdfdfd;
  background-color: #7d7f8e;
  height: 100%;
  width: 100vw;
  padding: 0.9375rem;
}

.footer_author ul li {
  padding-left: 3rem;
}

@media only screen and (max-width: 94.0625em) {
  .hero .img_wraper {
    height: 82%;
  }
  .hero .img_wraper img {
    width: 100%;
    margin-left: 3.125em;
  }
}

@media only screen and (max-width: 93.3125em) {
  .img_wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 45%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 82%;
  }
}

@media only screen and (max-width: 83.875em) {
  .hero h1 {
    font-size: 52px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero_text_section {
    font-size: 0.8125rem;
    letter-spacing: 1.75px;
  }
  .btn {
    font-size: 0.875rem;
  }
  .btn_left {
    margin-top: 0.9375rem;
  }
  .card_text p {
    font-size: 0.875rem;
  }
  .card_text_right p {
    font-size: 0.875rem;
  }
  .aboutme img {
    height: 100%;
  }
  .right_side {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    height: 100%;
  }
  .right_side.picture_size {
    height: 100%;
  }
  .right_side.picture_size.moved {
    -webkit-transform: translateX(95%) translateY(-25%);
            transform: translateX(95%) translateY(-25%);
    -webkit-transition: all 0.55s ease-in-out backwards;
    transition: all 0.55s ease-in-out backwards;
  }
  .left_side {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .left_side img {
    height: 100%;
    padding: 2.8125rem 0.9375rem;
  }
  .picture_clean img {
    height: 100%;
    padding: 0.9375rem 0rem;
  }
  .contact_form {
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 7;
    grid-row: 1/8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
  .picture_training img {
    height: 80%;
  }
  .picture_clean img {
    height: 80%;
  }
  .picture_floor_rest img {
    padding: 2.8125rem 0.9375rem;
    height: 85%;
  }
}

@media only screen and (max-width: 70.25em) {
  .contact_form {
    height: 100%;
    -ms-grid-row: 1;
    -ms-grid-row-span: 8;
    grid-row: 1/9;
  }
  .basic_data ul {
    height: 80%;
    font-size: 0.875rem;
  }
  .contact_capter_name2 {
    font-size: 1.125rem;
  }
  .picture_esd_audit img {
    padding: 4.0625rem 1.5625rem;
  }
  .picture_training img {
    padding: 2.8125rem 0.9375rem;
    margin-top: 2.1875rem;
  }
}

@media only screen and (max-width: 61.25em) {
  .hero {
    height: 100%;
  }
  .hero .align_wraper {
    height: 100%;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    font-size: 14px;
  }
  #send {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .hero h1 {
    line-height: 1;
  }
  .picture_clean img {
    height: 100%;
    padding: 4.0625rem 0;
  }
  .picture_esd_audit {
    width: 80%;
    justify-self: flex-end;
  }
  .picture_esd_audit img {
    height: 80%;
  }
  .esd_audit_text {
    width: 90%;
  }
  .aboutme img {
    padding: 1.5625rem;
  }
  #send {
    width: 50%;
    height: 15%;
  }
}

@media only screen and (max-width: 59.0625em) {
  .navigation {
    height: 10%;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  .picture_floor_rest img {
    width: 75%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .floor_treat_text {
    width: 60%;
  }
  .hero h1 {
    font-size: 2.8125rem;
  }
  .hero_img_section {
    height: 100%;
  }
  .hero_img_section img {
    height: 110%;
  }
}

@media only screen and (max-width: 53.125em) {
  .hero::after {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 92.5%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 92.5%, 0% 100%);
  }
  .right_side {
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1.5625rem 0rem 1.5625rem 1.5625rem;
  }
  .right_side.picture_size {
    width: 50%;
    height: 88%;
    padding: 1.5625rem;
  }
  .right_side.picture_size.moved {
    -webkit-transform: translateX(95%) translateY(-25%);
            transform: translateX(95%) translateY(-25%);
    -webkit-transition: all 0.55s ease-in-out backwards;
    transition: all 0.55s ease-in-out backwards;
  }
  .left_side {
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 2.1875rem 2.1875rem 2.1875rem 0;
  }
  .left_side.picture_size {
    width: 50%;
    height: 88%;
    padding: 1.5625rem;
  }
  .left_side.picture_size.moved {
    -webkit-transform: translateX(95%) translateY(-25%);
            transform: translateX(95%) translateY(-25%);
    -webkit-transition: all 0.55s ease-in-out backwards;
    transition: all 0.55s ease-in-out backwards;
  }
  .navigation_language {
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7/9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .navigation_language a {
    width: 90%;
  }
  .navigation_logo_wraper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 5;
    grid-column: 2/7;
  }
  .aboutme_content_wraper .img_wraper {
    width: 80%;
    margin-right: 1.5625em;
  }
  .navigation_buttons_burger {
    -ms-grid-column: 10;
    -ms-grid-column-span: 1;
    grid-column: 10/11;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    display: block;
    height: 25px;
    width: 30px;
  }
  .navigation_buttons_burger span {
    top: 50%;
    height: 0.1875em;
    width: 100%;
    background: var(--pf-color_light_accent1);
    margin: auto;
    position: absolute;
    -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.25s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.25s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .navigation_buttons_burger .burger1 {
    -webkit-transform: translateY(-0.625em);
            transform: translateY(-0.625em);
  }
  .navigation_buttons_burger .burger3 {
    -webkit-transform: translateY(0.625em);
            transform: translateY(0.625em);
  }
  .navigation_buttons_burger.active .burger1 {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
  }
  .navigation_buttons_burger.active .burger2 {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  .navigation_buttons_burger.active .burger3 {
    opacity: 0;
  }
  .navigation_buttons {
    position: absolute;
    top: 0;
    left: 100vw;
    height: 98vh;
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: rgba(6, 65, 159, 0.7);
    -webkit-transition: left 0.45s ease-in-out;
    transition: left 0.45s ease-in-out;
  }
  .navigation_buttons.actived {
    top: 0;
    left: 1px;
  }
  .navigation_buttons ul {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .card_text p {
    border-radius: 2.5rem 2.5rem 2.8125rem 0;
  }
  .esd_audit_text,
  .floor_treat_text {
    width: 100%;
  }
  .left_side.picture_size.moved,
  .right_side.picture_size.moved {
    -webkit-transform: translateX(95%) translateY(-25%);
            transform: translateX(95%) translateY(-25%);
    -webkit-transition: all 0.55s ease-in-out backwards;
    transition: all 0.55s ease-in-out backwards;
  }
  .left_side.picture_size.picture_training img,
  .right_side.picture_size.picture_training img {
    height: 50%;
  }
  .left_side.picture_size.picture_floor_rest img,
  .right_side.picture_size.picture_floor_rest img {
    height: 70%;
  }
  .picture_esd_audit {
    justify-self: flex-start;
  }
  .hero h1 {
    font-size: 2.4375rem;
  }
  .btn_left,
  .btn_right {
    margin-top: 4.6875rem;
    text-align: center;
  }
  .picture_floor_rest {
    width: 50%;
  }
  .picture_floor_rest img {
    width: 100%;
  }
}

@media only screen and (max-width: 51.25em) {
  .hero_text_section {
    height: 100%;
  }
  .hero_img_section {
    height: 92%;
  }
  .image_container {
    height: 80%;
  }
}

@media only screen and (max-width: 48.375em) {
  .contact_form_right {
    width: 40%;
  }
  .contact_form_left {
    width: 60%;
  }
}

@media only screen and (max-width: 43.125em) {
  .hero h2, .hero h1 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .hero .align_wraper {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero .text_wraper {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .hero .img_wraper {
    width: 80%;
    height: 40%;
  }
  .hero_img_section {
    height: 94%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 0.75rem;
    -webkit-transform: translateX(-2.1875em);
            transform: translateX(-2.1875em);
  }
  .hero_img_section img {
    height: 100%;
  }
  .hero_text_section {
    height: 90%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 0.75rem;
  }
  .content_wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .btn_main {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .btn_second {
    -ms-grid-column: 6;
    -ms-grid-column-span: 2;
    grid-column: 6/8;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .services {
    height: 100%;
  }
  .wraper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    gap: 1em;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .image_container {
    height: 70%;
  }
  .right_side.picture_size,
  .left_side.picture_size {
    width: 80%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .right_side.picture_size.picture_training,
  .left_side.picture_size.picture_training {
    width: 80%;
  }
  .right_side.picture_size.picture_training img,
  .left_side.picture_size.picture_training img {
    width: 100%;
    height: 100%;
  }
  .left_side, .right_side {
    width: 80%;
    padding: 0;
  }
  .left_side a, .left_side span, .right_side a, .right_side span {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .grid_basic {
    height: 100%;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation {
    height: 10%;
  }
  .spec_service_content_wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .spec_service_content_wraper.oposite {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 43.125em) {
  .partners {
    padding: 8.4375em;
  }
  .contact_wraper_general {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .basic_data ul {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .basic_data ul .phone_number::after,
  .basic_data ul .adress::after,
  .basic_data ul .social::after {
    top: -125%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .social_media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social_media a {
    padding-top: 1.5625em;
  }
}

@media only screen and (max-width: 42em) {
  .navigation_logo h4 {
    font-size: 1.375em;
  }
  .navigation_logo svg {
    width: 10%;
    height: 25%;
  }
}

@media only screen and (max-width: 38.125em) {
  .image_container {
    height: 100%;
  }
  .overlay {
    height: 30%;
  }
}

@media only screen and (max-width: 35em) {
  .navigation_logo {
    width: 100%;
  }
  .navigation_logo h4 {
    font-size: 1.375em;
  }
  .navigation_logo svg {
    width: 20%;
    height: 25%;
  }
}

@media only screen and (max-width: 35.375em) {
  .navigation {
    border-bottom: 0.125em solid var(--pf-color_light_accent3);
  }
  .navigation_language {
    display: none;
    -webkit-transition: top 0.85s linear;
    transition: top 0.85s linear;
  }
  .navigation_language.active {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    height: 46%;
    top: 102%;
    right: -101%;
    background: rgba(6, 65, 159, 0.88);
  }
  .navigation_language.active a {
    width: 80%;
    height: 100%;
  }
  .navigation_language.active a img {
    height: auto;
    width: 15%;
    margin-left: 50%;
  }
  .navigation_buttons_burger {
    -ms-grid-column: 9;
    -ms-grid-column-span: 2;
    grid-column: 9/11;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .navigation_logo_wraper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 7;
    grid-column: 2/9;
  }
}

@media only screen and (max-width: 31.25em) {
  .hero img {
    height: 65%;
  }
  .services::after {
    -webkit-clip-path: polygon(0% 11%, 100% 0%, 100% 92.5%, 0% 100%);
            clip-path: polygon(0% 11%, 100% 0%, 100% 92.5%, 0% 100%);
  }
  #technical_clean::after {
    -webkit-clip-path: polygon(0% 7%, 100% 2%, 100% 92.5%, 0% 100%);
            clip-path: polygon(0% 7%, 100% 2%, 100% 92.5%, 0% 100%);
  }
  #esd_audit::after {
    -webkit-clip-path: polygon(0% 8%, 100% 0%, 100% 93.5%, 0% 100%);
            clip-path: polygon(0% 8%, 100% 0%, 100% 93.5%, 0% 100%);
  }
  #esd_training::after {
    -webkit-clip-path: polygon(0% 12%, 100% 1%, 100% 93.5%, 0% 100%);
            clip-path: polygon(0% 12%, 100% 1%, 100% 93.5%, 0% 100%);
  }
  #floor_rest::after {
    -webkit-clip-path: polygon(0% 7%, 100% 0%, 100% 93.5%, 0% 100%);
            clip-path: polygon(0% 7%, 100% 0%, 100% 93.5%, 0% 100%);
  }
  .contact_wraper_general {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact_form_right {
    width: 100%;
    height: 100%;
  }
  .contact_form_left {
    width: 100%;
    height: 100%;
  }
  .social_media {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .basic_data ul {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    justify-items: center;
    height: 100%;
  }
  .basic_data ul li {
    padding-top: 1.5625em;
  }
  .basic_data ul .phone_number::after,
  .basic_data ul .adress::after,
  .basic_data ul .social::after {
    top: -4%;
  }
  .descr {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contact {
    padding: 0.75em;
  }
  .contact_wraper_general {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2/10;
  }
  .sub_footer {
    height: 100%;
  }
  .sub_footer ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80%;
    padding: 0;
  }
  .sub_footer ul li {
    padding-top: 0.75em;
  }
}

@media only screen and (max-width: 27.5em) {
  .right_side,
  .left_side {
    width: 100%;
  }
  .right_side.picture_size,
  .left_side.picture_size {
    width: 100%;
  }
  .hero .hero_buttons_wraper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero .hero_buttons_wraper a {
    padding: 0.937rem 0;
    width: 50%;
    margin-top: 2.1875em;
  }
  .aboutme_content_wraper .img_wraper {
    width: 100%;
  }
  .aboutme_content_wraper .aboutme_description {
    width: 100%;
  }
}

@media only screen and (max-width: 23.75em) {
  .navigation_logo svg {
    width: 15%;
  }
  .navigation_language.active a img {
    width: 15%;
  }
  .overlay {
    height: 45%;
  }
  .overlay_text {
    font-size: 0.75em;
  }
}
/*# sourceMappingURL=style.css.map */